__pycache__

# file extension
*.ipynb_checkpoints
*.cph
*.vscode
*.h5

# dirs
python/ai/NLP/content/
python/ai/NLP/nlpbook
python/data_analysis/datasets
python/ai/hands_on_machine_learning/datasets
python/ai/hands_on_machine_learning/images
python/ai/hands_on_machine_learning/my_logs
python/ai/pytorch_basic/data